body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.app-name {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    margin: 0;
}

.no-posts {
    font-size: 24px;
}

.post-options {
    width: 80vw;
    border: 1px dashed black;
    display: none;
    justify-content: space-around;
}

.new-post {
    width: 80vw;
    border: 1px dashed black;
    display: flex;
    justify-content: space-around;
}

#newpost, #post {
    font-size: 16px;
    background-color: #66cdaa;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    padding: 2% 7%;
    box-sizing: border-box;
}

#cancel {
    font-size: 16px;
    background-color: red;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    padding: 2% 7%;
}

textarea {
    height: 100px;
    width: 100%;
}


.post-form {
    display: none;
}

#title {
    width: 20%;
    margin-bottom: 2%;
}

fieldset { 
    display: flex;
    width: 80vw;
    margin-left: 0;
    margin-right: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    min-inline-size: unset;
    border: 1px dashed black;
    padding: 2% 7%;
    box-sizing: border-box;
  }

  #author {
    width: 20%;
    float: right;
    margin-top: 2%;
}